coverage.html
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

dist
node_modules
npm-debug.log
coverage/
*-test/
boilerplate-*/app/proxy*
boilerplate-*/assembly
boilerplate-*/node_modules
boilerplate-*/spm_modules
boilerplate-*/uiweb
boilerplate-*/run
boilerplate-*/logs
boilerplate-*/dist
.DS_Store
tmp
